<h1 mat-dialog-title>Create New Task</h1>
<div mat-dialog-content style="{display: grid}">
  <div class="input-container">

    <mat-form-field>
      <mat-label>Task Title</mat-label>
      <input matInput [(ngModel)]="data.title">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Task assignee</mat-label>
      <input matInput [(ngModel)]="data.assignee">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Task description</mat-label>
      <textarea matInput [(ngModel)]="data.description"></textarea>
    </mat-form-field>
  </div>

</div>
<div style="display: flex; justify-content: space-between">
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Exit</button>
  </div>

  <div mat-dialog-actions>
    <button [disabled]="data.title.trim().length===0 || data.assignee.trim().length===0 " mat-button [mat-dialog-close]="data" cdkFocusInitial>Submit</button>
  </div>
</div>

