.login-h1 {
  color: whitesmoke;
  text-align: center;
}

.wrapper {
  margin-top: 20vh;
  place-content: center;
  display: grid;
}

.container-div {
  text-align: center;
  display: inline-grid;
}

.form {
  display: inline-grid;
  background-color: darkcyan;
  padding: 2rem;
  border-radius: 1.5rem;
}

.registration-rerouting {
  color: white;
  text-align: center;
}

